@import "../src/style.css";

body {
    margin: 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#firstSlider {
    width: 1000px;
    height: 500px;
}

#secondSlider {
    width: 500px;
    height: 300px;
    margin-top: 50px;
}

.pseudo-img {
    height: 500px;
    background: chartreuse url("https://cdn.wallpapersafari.com/15/95/rlf263.jpg") center no-repeat;
    background-size: 1000px 500px;
}