/*СТИЛИ ДЛЯ СЛАЙДЕРА*/

.slider {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.minWidthAndMinHeightSlider {
    min-width: 500px;
    min-height: 250px;
}

/*_________________________*/
/*#########################*/
/*СТИЛИ ДЛЯ КНОПОК СЛАЙДЕРА*/

.button {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 2;
}

.buttonShiftSlides {
    width: 30px;
    height: 60px;
    margin: 10px;
}

.rightButton {
    transform: rotate(180deg);
}

.inputPause {
    height: 40px;
    transition-duration: 0.2s;
    background-color: transparent;
    margin: auto 0 15px 0;
}

.inputPauseNotActive {
    width: 10px;
    border: 0 solid transparent;
    border-right: 5px Solid #9e9e9e;
    border-left: 5px Solid #9e9e9e;
}

.inputPauseActive {
    width: 0;
    border: 20px solid transparent;
    border-right: 0 Solid transparent;
    border-left: 20px solid #9e9e9e;
    margin-right: -10px;
}

/*_________________________*/
/*#########################*/
/*СТИЛИ ДЛЯ СЛАЙДОВ*/

.slides {
    position: absolute;
    pointer-events: none;
    width: 100%;
    overflow: hidden; /*Это для div*/
}

.hideSlide {
    display: none;
}

.centerSlide {
    z-index: 1;
}

.slideShiftRight {
    transform: translateX(100%);
}

.slideShiftLeft {
    transform: translateX(-100%);
}

/*_________________________*/