/*СТИЛИ ДЛЯ СЛАЙДЕРА*/

.slider {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.minWidthAndMinHeightSlider {
    min-width: 500px;
    min-height: 250px;
}

/*_________________________*/
/*#########################*/
/*СТИЛИ ДЛЯ КНОПОК СЛАЙДЕРА*/

.leftButton,
.rightButton,
.inputPauseNotActive,
.inputPauseActive {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.leftButton {
    width: 30px;
    height: 60px;
    position: absolute;
    right: 10px;
}

.rightButton {
    width: 30px;
    height: 60px;
    position: absolute;
    left: 10px;
    transform: rotate(180deg);
}

.inputPauseNotActive {
    transition-duration: 1s;
    width: 10px;
    height: 40px;
    background-color: transparent;
    border: 0 solid transparent;
    border-right: 5px Solid #9e9e9e;
    border-left: 5px Solid #9e9e9e;
    position: absolute;
    bottom: 10%;
}

.inputPauseActive {
    transition-duration: 1s;
    width: 0;
    height: 40px;
    background-color: transparent;
    border: 20px solid transparent;
    border-right: 0 Solid transparent;
    border-left: 20px solid #9e9e9e;
    position: absolute;
    bottom: 10%;
    margin-right: -10px;
}

/*_________________________*/
/*#########################*/
/*СТИЛИ ДЛЯ СЛАЙДОВ*/

.slides {
    position: absolute;
    pointer-events: none;
    width: 100%;
    overflow: hidden; /*Это для div, чтобы background-image не вылазили*/
}

.hideSlide {
    display: none;
}

.slideShiftRight {
    transform: translateX(100%);
}

.slideShiftLeft {
    transform: translateX(-100%);
}

/*_________________________*/