/*СТИЛИ ДЛЯ СЛАЙДЕРА*/

.slider {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.minWidthAndMinHeightSlider {
    min-width: 500px;
    min-height: 250px;
}

/*_________________________*/
/*#########################*/
/*СТИЛИ ДЛЯ КНОПОК СЛАЙДЕРА*/

.leftButton,
.rightButton,
.inputPauseNotActive,
.inputPauseActive {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.leftButton {
    width: 30px;
    height: 60px;
    z-index: 5;
    position: absolute;
    right: 10px;
}

.rightButton {
    width: 30px;
    height: 60px;
    z-index: 5;
    position: absolute;
    left: 10px;
    transform: rotate(180deg);
}

.inputPauseNotActive {
    width: 10px;
    height: 40px;
    border: none;
    background-color: transparent;
    border-right: 5px Solid #9e9e9e;
    border-left: 5px Solid #9e9e9e;
    position: absolute;
    z-index: 5;
    bottom: 10%;
}

.inputPauseActive {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    border: 20px solid transparent;
    border-left: 20px solid #9e9e9e;
    position: absolute;
    z-index: 5;
    bottom: 10%;
    margin-right: -30px;
}

/*_________________________*/
/*#########################*/
/*СТИЛИ ДЛЯ СЛАЙДОВ*/

.slides {
    position: absolute;
    pointer-events: none;
    overflow: hidden; /*Это для div, чтобы background-image не вылазили*/
}

.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}

/*_________________________*/